# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrated

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr

# Flutter/Dart/Pub related
**/doc/api/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock
